flow.json
[
  {
    "id": "dd4628d2a6742ab4",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "8c91c69e5052912e",
    "type": "ui_button",
    "z": "dd4628d2a6742ab4",
    "name": "OFF",
    "group": "12e00a659ea34a05",
    "order": 1,
    "width": 2,
    "height": 1,
    "label": "OFF",
    "color": "white",
    "bgcolor": "red",
    "icon": "fa-stop",
    "payload": "OFF",
    "payloadType": "str",
    "topic": "waterpump/control",
    "x": 250,
    "y": 120,
    "wires": [["80d8ab1b8f4d56cc"]]
  },
  {
    "id": "c81a7c5d03f40a50",
    "type": "ui_button",
    "z": "dd4628d2a6742ab4",
    "name": "ON",
    "group": "12e00a659ea34a05",
    "order": 2,
    "width": 2,
    "height": 1,
    "label": "ON",
    "color": "white",
    "bgcolor": "green",
    "icon": "fa-play",
    "payload": "ON",
    "payloadType": "str",
    "topic": "waterpump/control",
    "x": 250,
    "y": 180,
    "wires": [["80d8ab1b8f4d56cc"]]
  },
  {
    "id": "3ba0551ac0a80e46",
    "type": "ui_button",
    "z": "dd4628d2a6742ab4",
    "name": "AUTO",
    "group": "12e00a659ea34a05",
    "order": 3,
    "width": 2,
    "height": 1,
    "label": "AUTO",
    "color": "white",
    "bgcolor": "blue",
    "icon": "fa-cogs",
    "payload": "AUTO",
    "payloadType": "str",
    "topic": "waterpump/control",
    "x": 250,
    "y": 240,
    "wires": [["80d8ab1b8f4d56cc"]]
  },
  {
    "id": "80d8ab1b8f4d56cc",
    "type": "mqtt out",
    "z": "dd4628d2a6742ab4",
    "name": "MQTT Control Out",
    "topic": "waterpump/control",
    "qos": "0",
    "retain": "false",
    "broker": "b0dae4ec76ff710a",
    "x": 590,
    "y": 180,
    "wires": []
  },
  {
    "id": "258238871f6a467a",
    "type": "mqtt in",
    "z": "dd4628d2a6742ab4",
    "name": "Pump Status",
    "topic": "waterpump/status",
    "qos": "0",
    "broker": "b0dae4ec76ff710a",
    "x": 270,
    "y": 340,
    "wires": [["272c74550bb1887a"]]
  },
  {
    "id": "272c74550bb1887a",
    "type": "ui_text",
    "z": "dd4628d2a6742ab4",
    "group": "ea925b077b997da6",
    "order": 1,
    "width": 6,
    "height": 1,
    "label": "Bơm:",
    "format": "{{msg.payload}}",
    "x": 580,
    "y": 340,
    "wires": []
  },
  {
    "id": "54daca1780e1fc8a",
    "type": "mqtt in",
    "z": "dd4628d2a6742ab4",
    "name": "Pump Mode",
    "topic": "waterpump/mode",
    "qos": "0",
    "broker": "b0dae4ec76ff710a",
    "x": 270,
    "y": 400,
    "wires": [["216848c3a69694d4"]]
  },
  {
    "id": "216848c3a69694d4",
    "type": "ui_text",
    "z": "dd4628d2a6742ab4",
    "group": "ea925b077b997da6",
    "order": 2,
    "width": 6,
    "height": 1,
    "label": "Chế độ:",
    "format": "{{msg.payload}}",
    "x": 560,
    "y": 400,
    "wires": []
  },
  {
    "id": "40a9a4909bfe6dc2",
    "type": "mqtt in",
    "z": "dd4628d2a6742ab4",
    "name": "Water Level",
    "topic": "waterpump/mucNuoc",
    "qos": "0",
    "broker": "b0dae4ec76ff710a",
    "x": 270,
    "y": 460,
    "wires": [["a46b1f7053d61a4d", "775875af658fa725"]]
  },
  {
    "id": "a46b1f7053d61a4d",
    "type": "ui_gauge",
    "z": "dd4628d2a6742ab4",
    "group": "ad2e127e23701f4a",
    "order": 1,
    "width": 6,
    "height": 3,
    "gtype": "gage",
    "title": "Mực nước (cm)",
    "label": "cm",
    "format": "{{value}}",
    "min": 0,
    "max": 30,
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": 10,
    "seg2": 20,
    "x": 570,
    "y": 460,
    "wires": []
  },
  {
    "id": "775875af658fa725",
    "type": "ui_chart",
    "z": "dd4628d2a6742ab4",
    "group": "ad2e127e23701f4a",
    "order": 2,
    "width": 6,
    "height": 3,
    "label": "Lịch sử mực nước",
    "chartType": "line",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Chưa có dữ liệu",
    "dot": false,
    "ymin": 0,
    "ymax": 30,
    "removeOlder": 1,
    "removeOlderUnit": "86400",
    "colors": ["#1f77b4"],
    "x": 590,
    "y": 520,
    "wires": [[]]
  },
  {
    "id": "12e00a659ea34a05",
    "type": "ui_group",
    "name": "Nút điều khiển",
    "tab": "d406f327fdf0180f",
    "order": 1,
    "disp": true,
    "width": 6
  },
  {
    "id": "ea925b077b997da6",
    "type": "ui_group",
    "name": "Trạng thái",
    "tab": "d406f327fdf0180f",
    "order": 2,
    "disp": true,
    "width": 6
  },
  {
    "id": "ad2e127e23701f4a",
    "type": "ui_group",
    "name": "Giám sát",
    "tab": "d406f327fdf0180f",
    "order": 3,
    "disp": true,
    "width": 6
  },
  {
    "id": "d406f327fdf0180f",
    "type": "ui_tab",
    "name": "MÁY BƠM IOT",
    "icon": "dashboard",
    "order": 1
  },
  {
    "id": "b0dae4ec76ff710a",
    "type": "mqtt-broker",
    "name": "Local MQTT",
    "broker": "127.0.0.1",
    "port": "1883"
  }
]
